.izquierda {
  background-color: #333;
  display: flex;
  align-items: center;
}

.derecha {
  background-color: #1f2023;
}

.profileContainer {
  text-align: center;
  background-color: #1f2023;
  padding: 30px;
  margin: 0 auto;
  width: 80%;
  height: 95%;
}

.goBackButton mat-icon{
  color: #e5f876;
}

.goBackButton{
  text-align: start;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #e5f876;
}

.information {
  padding-top: 20px;
  text-align: center;
  color: #e5f876;
}

.information a {
  color: white;
}

.data {
  padding-top: 20px;
}

p {
  font-size: 20px;
}

table {
  width: 100% !important;
  text-align: center;
  background-color: #27282d;
  color: white;
}

.tableContainer {
  padding-top: 20px;
}

th,
td {
  text-align: center !important;
  color: white;
  font-size: 14px !important;
}

.coursesTitle {
  padding-top: 20px;
  color: #e5f876;
  text-align: center;
}

.coursesTitle p {
  font-size: 25px;
  font-weight: 500;
}

.courseButton {
  padding-top: 20px;
}

.courseButton button {
  background-color: #27282d;
  color: #e5f876;
}
