<div class="login">
  <div class="row">
    <!-- Izquierda -->
    <div class="izquierda col-md-6">
      <div class="loginForm">
        <div class="imgLogo">
          <img [src]="logoCoderBlack" class="logoApp" />
        </div>
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p class="pt-4">Usuario</p>

            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control shadow-none"
                placeholder="Ingresa tu usuario"
                aria-label="Username"
                aria-describedby="basic-addon1"
                [formControl]="formUsername"
              />
            </div>

            <p>Contraseña</p>

            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control shadow-none"
                placeholder="Ingresa tu contraseña"
                aria-label="Username"
                aria-describedby="basic-addon1"
                [formControl]="formPassword"
              />
            </div>
            <div class="button">
              <button type="submit" class="btn ">Entrar</button>
            </div>

            <div class="auxiliarText">
              <p [ngStyle]="{ color: '#e1f566' }">Olvidé mi contraseña</p>

              <p class="pt-4" [ngStyle]="{ color: '#e1f566' }">
                Necesito ayuda
              </p>

              <p class="pt-3">
                Al iniciar sesión, estás aceptando nuestros
                <a>Terminos y Condiciones</a>
              </p>
              <p>y nuestra política sobre <a>Protección de Datos</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Derecha -->
    <div class="derecha col-md-6"></div>
  </div>
</div>
