<h1 mat-dialog-title [ngStyle]="{ color: 'white' }">Curso</h1>
<div class="studentForm" mat-dialog-content>
  <form [formGroup]="courseForm">
    <!-- Nombres -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="formNombre" />
      <mat-error *ngIf="formNombre.invalid"
        >Se debe ingresar el nombre del curso</mat-error
      >
    </mat-form-field>

    <!-- Apellidos -->
    <mat-form-field appearance="fill">
      <mat-label>Comisión</mat-label>
      <input matInput [formControl]="formComision" />
      <mat-error *ngIf="formComision.invalid"
        >Se debe ingresar la comision</mat-error
      >
    </mat-form-field>

    <!-- Correo -->
    <mat-form-field appearance="fill">
      <mat-label>Profesor</mat-label>
      <input matInput [formControl]="formProfesor" />
      <mat-error *ngIf="formProfesor.invalid"
        >Se debe ingresar el nombre</mat-error
      >
    </mat-form-field>

    <div class="sendButton">
      <button
        mat-button
        [mat-dialog-close]="courseForm.value"
        [disabled]="!courseForm.valid"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
