.homePage {
  background-color: #1f2023;
  height: 100%;
}

.tableContainer {
  padding: 15px;
}

/* Table */
table {
  width: 100%;
  background-color: #27282d;
  color: white;
}

th,
td {
  color: white;
}
