<div class="row">
  <!-- Izquierda -->
  <div class="col-md-6 izquierda">
    <div class="profileContainer">
      <div class="goBackButton">
        <button mat-icon-button [routerLink]="['/']">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="imageContainer">
        <img
          class="avatar mat-elevation-z8"
          src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
        />
      </div>

      <div class="information">
        <div class="data">
          <p>
            Nombres: <a>{{ student.nombres }}</a>
          </p>
        </div>
        <div class="data">
          <p>
            Apellidos: <a>{{ student.apellidos }}</a>
          </p>
        </div>
        <div class="data">
          <p>
            Correo: <a>{{ student.correo }}</a>
          </p>
        </div>
        <div class="data">
          <p>
            Telefono: <a>{{ student.telefono }}</a>
          </p>
        </div>
        <div class="data">
          <p>
            Pais: <a>{{ student.pais }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Derecha -->
  <div class="col-md-6 derecha">
    <div>
      <div class="coursesTitle">
        <p>{{ "Cursos" | uppercase }}</p>
      </div>
      <div class="courses">
        <div class="tableContainer">
          <!-- Table Cursos -->
          <table
            mat-table
            [dataSource]="studentCourses"
            class="mat-elevation-z8"
          >
            <!-- Nombre -->
            <ng-container matColumnDef="nombreCurso">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                {{ element.nombreCurso }}
              </td>
            </ng-container>

            <!-- Comisión -->
            <ng-container matColumnDef="comision">
              <th mat-header-cell *matHeaderCellDef>Comisión</th>
              <td mat-cell *matCellDef="let element">
                #{{ element.comision }}
              </td>
            </ng-container>

            <!-- Opciones -->
            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef>Opciones</th>
              <!-- Editar -->
              <td mat-cell *matCellDef="let element">
                <!-- Eliminar -->
                <button
                  mat-icon-button
                  (click)="eliminarCurso(element.comision)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <div class="courseButton">
            <button mat-raised-button (click)="openDialog()">
              Agregar Curso
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
