<div class="row">
  <!-- Izquierda -->
  <div class="col-md-6 izquierda">
    <div class="profileContainer">
      <div class="imageContainer">
        <img
          class="avatar mat-elevation-z8"
          src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
        />
      </div>

      <div class="information">
        <div class="data">
          <p>Nombres: <a>Juan Esteban</a></p>
        </div>
        <div class="data">
          <p>Apellidos: <a>Gomez Roa</a></p>
        </div>
        <div class="data">
          <p>Correo: <a>juanes@gmail.com</a></p>
        </div>
        <div class="data">
          <p>Telefono: <a>234234342</a></p>
        </div>
        <div class="data">
          <p>Pais: <a>Colombia</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Derecha -->
  <div class="col-md-6 derecha"><div>Hola</div></div>
</div>
