html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
  flex: 1 1 auto;
}

p{
  margin: 0 !important;
  padding: 0 !important;
}

/* #1f2023 */
/* #333 */
/* #27282D */